@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   line-height: 150%;
   text-align: left;
   color: #000;
   text-decoration: none;
}
a {
   text-decoration: none;
   color: inherit;
}
.a-style {
   text-decoration: none;
   color: #051498;
}
a:hover {
   text-decoration: none;
   color: #99a2f2;
}
.h-56px {
    height: 56px;
}
.h-84px {
    height: 84px;
}
.h-40px {
    height: 40px;
}
.h-48px {
    height: 48px !important;
}
.size-logo {
    width: auto;
    height: 84px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.footer-logo {
    width: auto;
    height: 56px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.fs-14 {
    font-size: 14px;
}
.fs-20 {
    font-size: 20px;
}
.fs-logo {
    font-size: 24px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.radius {
    border-radius: 12px !important;
}
.ratio {
    aspect-ratio: 1/1;
    object-fit: cover;
}
.mxw-440px {
    max-width: 440px;
}
.mxw-480px {
    max-width: 480px;
}
.text-color-not-important {
    color: #292929 !important;
}